* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.clearfix{
  clear:both;
}
.header-banner{
  padding-top:35px;
  padding-bottom:100px;
  color:#ffffff;
  font-family:Helvetica, serif;
  font-weight:100;
  background-image:url(v3-1.png);
  background-attachment:fixed, fixed;
  background-position:center bottom, center bottom;
  background-repeat:repeat, no-repeat;
  background-size:auto, auto;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
}
.lead-title{
  margin:150px 0 30px 0;
  font-size:40px;
}
.sub-lead-title{
  max-width:650px;
  line-height:30px;
  margin-bottom:30px;
  color:#c6c6c6;
}
.blk-sect{
  padding-top:100px;
  padding-bottom:100px;
  background-color:#222222;
  font-family:Helvetica, serif;
}
.footer-under{
  padding-bottom:100px;
  padding-top:100px;
  min-height:500px;
  color:#eee;
  position:relative;
  font-weight:100;
  font-family:Helvetica,serif;
  background-color:#191919;
  background-image:url(v3-2.png);
  background-size:auto, auto;
  background-position:left top, center bottom;
  background-attachment:fixed, fixed;
  background-repeat:repeat, no-repeat;
}
.copyright{
  color:rgba(238, 238, 238, 0.5);
  bottom:0;
  padding:1em 0;
  position:absolute;
  width:100%;
  font-size:0.75em;
  border:solid #000000;
  background-color:rgba(0,0,0,0.44);
}
.made-with{
  float:left;
  width:50%;
  padding:5px 0;
}
.foot-social-btns{
  display:none;
  float:right;
  width:50%;
  text-align:right;
  padding:5px 0;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#ic09o{
  padding:10px;
  color:#ffffff;
}
#ivqn9{
  text-align:left;
}
#io72cq{
  padding:10px;
  color:#ffffff;
  text-align:center;
}
#iu3ogt{
  padding:10px;
  color:#ffffff;
  text-align:center;
  align-items:stretch;
  align-self:stretch;
  min-height:100%;
  text-decoration:none;
  font-family:Helvetica, serif;
  line-height:20px;
  font-size:30px;
  height:100px;
  width:auto;
}
.link{
  color:#ee0000;
}
#itit6g{
  padding:10px;
  color:#ffffff;
}
#irt9mk{
  padding:10px;
  color:#ffffff;
  text-align:center;
}
#i70m6f{
  flex-basis:30%;
}
#i2ruan{
  flex-basis:70%;
}
#i83dlh{
  padding:10px;
  color:#ffffff;
  float:none;
  text-align:left;
  font-weight:400;
}
#it70pa{
  padding:10px;
  color:#ffffff;
  float:none;
  text-align:left;
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
}
